.slim_card {
  padding: 40px;
  margin: 20px 0;
}

footer label {
  display: inline-block;
}

footer select {
  display: inline-block;
  width: auto;
  margin: 0 0 0 2em;
}

.hidden {
  display: none;
}

.change_rating_submit select {
  margin: 0 0 1em 0;
}

.button_login {
  margin: 0 0 0 0;
}

.pagination {
  text-align: center;
  padding: 0;
}

hr {
  padding: 0 0 1em 0;
}

.margin_5 {
  margin: 5px;
}

.select_new_rating {
  margin: 0 0 1em 0;
}

.no_results {
  text-align: center;
  padding: 1em;
}

.th_center {
  text-align: center;
}

.rating_success {
  text-align: center;
  margin: 5px;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.logout {
  width: 150px;
}

.li_country {
  list-style-type: none;
}

.border_0 {
  border: 0;
}

.margin_hr {
  margin: 1em 0;
}

.padding_0 {
  padding: 0;
}

.hrAsLi {
  margin: 1em 0;
  padding: 0;
}

.visible {
  display: block;
}

.scroll {
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}
